<template>
  <div class="content" :style="style">
    <div class="container">
      <slot />
    </div>
  </div>
</template>
<script>
export default {
  props: {
    backgroundSrc: {
      type: String,
      default: "",
    },
    backgroundColor: {
      type: String,
      default: "#ffffff",
    },
  },
  computed: {
    style() {
      if (this.backgroundSrc) {
        return {
          "background-image": "url(" + this.backgroundSrc + ")",
        };
      } else {
        return {
          "background-color": this.backgroundColor,
        };
      }
    },
  },
};
</script>
<style lang="scss" scoped>
div.content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  div.container {
    width: 100%;
    max-width: 1200px;
  }
}
</style>
