<template>
  <a href="#">
    <img src="https://placehold.jp/ffffff/ffffff/20x20.png?text=PC" />
    ネット予約
  </a>
</template>
<style lang="scss" scoped>
  $logo-main-color: #73cecf;
  a {
    width: 140px;
    padding: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: $logo-main-color;
    img {
      margin-right: 10px;
      vertical-align: middle;
    }
  }
</style>
