<template>
  <div>
    <img :src="src" width="140px" height="140px" />
    <p>{{ name }}</p>
    <p v-html="message"></p>
    <a :href="href">詳しく見る</a>
  </div>
</template>
<script>
export default {
  props: {
    name: {
      type: String,
      require: true,
    },
    message: {
      type: String,
      require: true,
    },
    src: {
      type: String,
      require: true,
    },
    srcHover: {
      type: String,
      require: true,
    },
    href: {
      type: String,
      require: true,
      default: "#",
    },
  },
};
</script>
<style lang="scss" scoped>
$main-color: #83e2e2;
div {
  width: 24%;
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  &:hover {
    background-color: $main-color;
    a {
      color: $main-color;
      background-color: #ffffff;
    }
  }
  p {
    margin: 0;
    margin-top: 20px;
  }
  a {
    width: 100px;
    margin-top: 20px;
    padding: 4px 8px;
    border: 1px $main-color solid;
    color: $main-color;
    background-color: rgba($color: #000000, $alpha: 0);
    text-decoration: none;
  }
}
@media screen and (max-width: 750px) {
  div {
    flex-direction: row;
    justify-content: space-between;
  }
}
</style>