<template>
  <a href="tel:03-3604-2000">
    <div>TEL</div>
    <div>012-3456-7890</div>
  </a>
</template>
<style lang="scss" scoped>
  a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    div {
      padding: 3px 20px;
      border: 1px #000000 solid;
      border-right: none;
      border-collapse: collapse;
      &:last-child {
        border-right: 1px #000000 solid;
      }
    }
  }
</style>
