<template>
  <a href="#">
    <div class="item">
      <img :src="src" :style="reverse" />
      <div class="message">
        <p class="message-number">{{ number }}</p>
        <p class="message-title">{{ title }}</p>
        <p class="message-message">{{ message }}</p>
      </div>
    </div>
  </a>
</template>
<script>
export default {
  props: {
    number: {
      type: String,
      require: true,
    },
    title: {
      type: String,
      require: true,
    },
    message: {
      type: String,
      require: true,
    },
    src: {
      type: String,
      require: true,
    },
  },
  computed: {
    reverse() {
      if (this.width <= 750) {
        if (Math.floor(Number(this.number) % 2) == 1) {
          return {
            order: 1,
          };
        } else {
          return {};
        }
      } else {
        if (Math.floor((Number(this.number) - 1) / 2) == 1) {
          return {
            order: 1,
          };
        } else {
          return {};
        }
      }
    },
  },
  data() {
    return {
      width: 0,
    };
  },
  created() {
    if (process.browser) {
      window.addEventListener("resize", this.handleResize);
      this.handleResize();
    }
  },
  destroyed() {
    if (process.browser) {
      window.removeEventListener("resize", this.handleResize);
    }
  },
  methods: {
    handleResize() {
      if (process.browser) {
        this.width = window.innerWidth;
      }
    },
  },
};
</script>
<style lang="scss" scoped>
a {
  width: 50%;
  display: block;
  color: #000000;
  text-decoration: none;
  div.item {
    margin: 0;
    padding: 0;
    display: flex;
    text-align: left;
    img {
      width: 25vw;
      height: auto;
      max-height: 300px;
      object-fit: cover;
    }
    div.message {
      width: 25vw;
      color: #ffffff;
      background-color: #73cecf;
      p.message-number {
        margin-top: 10px;
        margin-right: 10px;
        text-align: right;
        font-size: 25px;
      }
      p.message-title {
        margin-left: 10px;
        font-size: 20px;
        &::before {
          content: "＞ ";
        }
      }
      p.message-message {
        margin-left: 10px;
      }
    }
  }
}
@media screen and (max-width: 750px) {
  a {
    width: 100%;
    div.item {
      img {
        width: 50%;
      }
      div.message {
        width: 50%;
      }
    }
  }
}
</style>
