<template>
  <div>
    <img :src="src" width="80px" height="80px" />
    <p>{{ message }}</p>
  </div>
</template>
<script>
export default {
  props: {
    message: {
      type: String,
      require: true,
    },
    src: {
      type: String,
      require: true,
    },
  },
};
</script>
<style lang="scss" scoped>
$top-menu-background-color: #dffeff;
div {
  width: 24%;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  &:hover {
    background-color: $top-menu-background-color;
  }
  p {
    margin: 0;
    margin-top: 20px;
  }
}
@media screen and (max-width: 850px) {
  div {
    width: 50%;
  }
}
</style>