<template>
  <div>
    <img
      src="https://placehold.jp/73cecf/73cecf/800x400.png"
      v-if="isSpWidth"
      width="100%"
    />
    <ComponentContainer :backgroundSrc="backgroundSrc">
      <div id="message-area">
        <div id="message">
          <img
            src="https://placehold.jp/73cecf/73cecf/150x150.png"
            width="30px"
            height="30px"
          />
          当院が得意としている治療法の一つが装置が見えない舌側（裏側）矯正治療です。<br />
          舌側矯正のパイオニアで、世界舌側矯正学会前会長の竹元京人先生に12年間師事し、イーライン矯正歯科では5年に渡り副院長を歴任しておりましたため十分な実績があり、質の高い治療を提供しています。<br />
          『あなたの歯並びは裏側からの治療はできません』『裏側からの治療は期間が長くなりますよ』など先生に言われた事がある方も少なくないと思いますが、当院での裏側からの矯正治療は、全ての患者さまに表側と変わらない仕上がり、期間で治療を行う事が可能です。
        </div>
      </div>
    </ComponentContainer>
  </div>
</template>
<script>
export default {
  data() {
    return {
      isSpWidth: false,
      backgroundSrc: "",
    };
  },
  created() {
    if (process.browser) {
      window.addEventListener("resize", this.handleResize);
      this.handleResize();
    }
  },
  destroyed() {
    if (process.browser) {
      window.removeEventListener("resize", this.handleResize);
    }
  },
  methods: {
    handleResize() {
      if (process.browser) {
        this.isSpWidth = window.innerWidth <= 750;
        if (this.isSpWidth) {
          this.backgroundSrc = "";
        } else {
          this.backgroundSrc =
            "https://placehold.jp/9effd8/9effd8/1400x800.png";
        }
      }
    },
  },
};
</script>
<style lang="scss" scoped>
div#message-area {
  width: 50%;
  height: 400px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    margin: 0 auto 40px auto;
    display: block;
  }
  div#message {
    padding: 30px 50px;
    background-color: #ffffff;
    line-height: 28px;
  }
}
@media screen and (max-width: 1000px) {
  div#message-area {
    height: 600px;
  }
}
@media screen and (max-width: 750px) {
  div#message-area {
    width: 100%;
    height: 400px;
    margin-bottom: 0;
    background-color: #f7f7f7;
  }
}
</style>
