<template>
  <ComponentContainer backgroundColor="#F7F7F7">
    <div>
      <p>見えない裏側矯正からお子さまの矯正治療まで行います</p>
      <p>
        あいうえおか歯科では、見えない裏側矯正（舌側矯正）やこどもの矯正治療など、<br />
        患者さまのご要望に合わせて『安心・確実』な治療をいたします。
      </p>
      <div id="plan-area">
        <ComponentPlanButton
          name="裏側矯正"
          message="人に気づかれずに<br />矯正治療をしたい"
          src="https://placehold.jp/73cecf/73cecf/150x150.png"
          srcHover="https://placehold.jp/83E2E2/83E2E2/150x150.png"
          href="#"
        />
        <ComponentPlanButton
          name="表側矯正"
          message="費用を抑えて<br />矯正治療をしたい"
          src="https://placehold.jp/73cecf/73cecf/150x150.png"
          srcHover="https://placehold.jp/83E2E2/83E2E2/150x150.png"
          href="#"
        />
        <ComponentPlanButton
          name="子供の矯正"
          message="お子様の歯並びを<br />治したい"
          src="https://placehold.jp/73cecf/73cecf/150x150.png"
          srcHover="https://placehold.jp/83E2E2/83E2E2/150x150.png"
          href="#"
        />
        <ComponentPlanButton
          name="虫歯予防・ホワイトニング"
          message="着色や歯石を取り<br />歯を白くしたい"
          src="https://placehold.jp/73cecf/73cecf/150x150.png"
          srcHover="https://placehold.jp/83E2E2/83E2E2/150x150.png"
          href="#"
        />
      </div>
    </div>
  </ComponentContainer>
</template>
<style lang="scss" scoped>
div {
  padding: 30px 0;
  text-align: center;
  p:first-child {
    font-size: 25px;
  }
  #plan-area {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 750px) {
  div {
    width: 100%;
    #plan-area {
      display: flex;
      flex-direction: column;
    }
  }
}
</style>