<template>
  <div>
    <ComponentContainer backgroundColor="#F7F7F7">
      <div id="info">
        <p>カウンセリングは無料です、お気軽にご相談ください。</p>
        <p id="tel">
          <span>TEL</span>
          <span>000-0000-0000</span>
        </p>
        <dl id="operating-hours">
          <dt>診療時間</dt>
          <dd>
            <dl>
              <dt>月</dt>
              <dd>15:00-21:00</dd>
              <dt>火・水・金</dt>
              <dd>13:00-19:00</dd>
              <dt>土・日</dt>
              <dd>10:00-17:00</dd>
            </dl>
            <p>※学会・研修などの都合により休診となる場合がございます。</p>
            <p>※日曜診療（月１回）の次の月曜日は休診とさせて頂きます。</p>
          </dd>
        </dl>
      </div>
    </ComponentContainer>
    <ComponentContainer backgroundColor="#F7F7F7">
      <div id="link-block-area">
        <ComponentLinkBlock
          src="https://placehold.jp/73cecf/73cecf/150x150.png"
          message="ネット予約"
        />
        <ComponentLinkBlock
          src="https://placehold.jp/73cecf/73cecf/150x150.png"
          message="資料請求・ご相談フォーム"
        />
        <ComponentLinkBlock
          src="https://placehold.jp/73cecf/73cecf/150x150.png"
          message="スタッフブログ"
        />
        <ComponentLinkBlock
          src="https://placehold.jp/73cecf/73cecf/150x150.png"
          message="リクルート"
        />
      </div>
    </ComponentContainer>
  </div>
</template>
<style lang="scss" scoped>
div#info {
  padding: 40px 0;
  text-align: center;
  p#tel {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      &:first-child {
        margin-right: 10px;
        padding: 2px 20px;
        display: inline-block;
        border: 1px #000000 solid;
      }
      &:nth-child(2) {
        font-size: 50px;
      }
    }
  }
}
dl#operating-hours {
  > dt {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 10px;
    border-bottom: 1px #000000 dashed;
  }
  dd dl {
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
    justify-content: center;
    dt {
      width: 40%;
      &::after {
        content: " ... ";
      }
    }
    dd {
      width: 40%;
    }
  }
}
div#link-block-area {
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 850px) {
  div#link-block-area {
    flex-wrap: wrap;
  }
}
</style>
