<template>
  <ComponentContainer>
    <nav>
      <ul class="top-menu">
        <li><a href="#">クリニック紹介</a></li>
        <li>
          <a href="">治療について</a>
          <ul>
            <li><a>裏側矯正</a></li>
            <li><a>表側矯正</a></li>
            <li><a>こどもの矯正</a></li>
            <li><a>虫歯予防・ホワイトニング</a></li>
          </ul>
        </li>
        <li><a href="#">費用・治療の流れ</a></li>
        <li><a href="#">診察時間・アクセス</a></li>
        <li><a href="#">リクルート</a></li>
      </ul>
    </nav>
  </ComponentContainer>
</template>
<style lang="scss" scoped>
$top-menu-background-color: #dffeff;
.top-menu {
  width: 100%;
  height: 60px;
  padding: 0;
  display: flex;
  align-items: center;
  li {
    position: relative;
    list-style: none;
    ul {
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      background-color: $top-menu-background-color;
      li {
        height: 0;
        overflow: hidden;
        background-color: $top-menu-background-color;
        transition: 0.5s;
        a:visited {
          color: #a59797;
        }
      }
    }
  }
  > li {
    width: 20%;
  }
  li:hover {
    background-color: $top-menu-background-color;
    > ul > li {
      height: 2rem;
      overflow: visible;
    }
  }
  li a {
    width: 100%;
    height: 2rem;
    display: block;
    border-right: 1px solid #eee;
    line-height: 2rem;
    text-align: center;
    text-decoration: none;
    color: #000000;
  }
}
</style>
