<template>
  <ComponentContainer backgroundColor="#F7F7F7">
    <div>
      <a href="#">資料請求・ご相談フォーム</a>
      <a href="#">診療時間・アクセス</a>
      <a href="#">よくあるご質問</a>
    </div>
  </ComponentContainer>
</template>
<style lang="scss" scoped>
div {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  a {
    width: 33%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    &::before {
      content: ">";
      margin-right: 10px;
    }
    &:hover {
      background-color: #dffeff;
    }
  }
}
@media screen and (max-width: 750px) {
  div {
    flex-wrap: wrap;
    a {
      width: 90%;
    }
  }
}
</style>