<template>
  <div>
    <img
      src="https://placehold.jp/9effd8/9effd8/1400x800.png?text=keyvisual"
      v-if="isSpWidth"
      width="100%"
    />
    <ComponentContainer :backgroundSrc="backgroundSrc">
      <div id="keyvisual">
        <p>
          患者さまひとりひとりの笑顔のために<br />美しい歯並びをご提供します。
        </p>
        <p>
          確かな技術と患者さまそれぞれにあわせた治療方針で、<br />美しい仕上がりと完璧なかみ合わせを実現する質の高い矯正治療をご提供します。
        </p>
        <a href="#">当院のコンセプト</a>
      </div>
    </ComponentContainer>
  </div>
</template>
<script>
export default {
  data() {
    return {
      isSpWidth: false,
      backgroundSrc: "",
    };
  },
  created() {
    if (process.browser) {
      window.addEventListener("resize", this.handleResize);
      this.handleResize();
    }
  },
  destroyed() {
    if (process.browser) {
      window.removeEventListener("resize", this.handleResize);
    }
  },
  methods: {
    handleResize() {
      if (process.browser) {
        this.isSpWidth = window.innerWidth <= 750;
        if (this.isSpWidth) {
          this.backgroundSrc = "";
        } else {
          this.backgroundSrc =
            "https://placehold.jp/9effd8/9effd8/1400x800.png?text=keyvisual";
        }
      }
    },
  },
};
</script>
<style lang="scss" scoped>
div#keyvisual {
  width: 50%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  > a {
    width: 170px;
    margin-top: 20px;
    padding: 8px 20px;
    display: block;
    border: 1px #73cecf solid;
    color: #73cecf;
    background-color: rgba($color: #000000, $alpha: 0);
    letter-spacing: 5px;
    text-decoration: none;
    &:hover {
      color: #ffffff;
      background-color: #73cecf;
    }
  }
}
@media screen and (max-width: 750px) {
  div#keyvisual {
    width: 100%;
    height: 300px;
  }
}
</style>
