<template>
  <div id="feature">
    <ComponentContainer>
      <p>歯並び・噛み合わせにお悩みの方は一度ご相談ください</p>
      <p>
        矯正治療は見た目だけではなく、歯の寿命を延ばし、<br />
        歯の予防にも繋がる重要な歯科治療です。<br />
        あいうえおか歯科では、患者さまのご要望に合わせた様々な治療方法はもちろん、<br />
        安心・満足して頂ける治療環境を整えて患者さまをお待ちしております。
      </p>
    </ComponentContainer>
    <div id="feature-list">
      <ComponentFeatureItem
        number="1"
        title="矯正技術へのこだわり"
        message="歯を長持ちさせる確かな矯正技術で治療します"
        src="https://placehold.jp/e4f2ec/e4f2ec/500x500.png"
      />
      <ComponentFeatureItem
        number="2"
        title="裏側矯正"
        message="誰にも気づかれずに歯並びを綺麗にできます"
        src="https://placehold.jp/e4f2ec/e4f2ec/500x500.png"
      />
      <ComponentFeatureItem
        number="3"
        title="清潔・安全な治療環境"
        message="美しく清潔な診察室。器具類の消毒も完璧に行っています"
        src="https://placehold.jp/e4f2ec/e4f2ec/500x500.png"
      />
      <ComponentFeatureItem
        number="4"
        title="丁寧なカウンセリング"
        message="矯正経験者の院長が患者様の思いをじっくりお伺いします"
        src="https://placehold.jp/e4f2ec/e4f2ec/500x500.png"
      />
      <ComponentFeatureItem
        number="5"
        title="患者様に寄り添った矯正治療"
        message="患者様それぞれに合った治療を行います"
        src="https://placehold.jp/e4f2ec/e4f2ec/500x500.png"
      />
      <ComponentFeatureItem
        number="6"
        title="トータルフィーシステム"
        message="治療機関に関わらず治療費は最初に提示する金額なので安心です。"
        src="https://placehold.jp/e4f2ec/e4f2ec/500x500.png"
      />
    </div>
  </div>
</template>
<style lang="scss" scoped>
div#feature {
  padding: 30px 0 0 0;
  text-align: center;
  p:first-child {
    font-size: 25px;
  }
  div#feature-list {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
  }
}
</style>