<template>
  <ComponentContainer>
    <div id="access-area">
      <div id="access">
        <p>
          <img
            src="https://placehold.jp/73cecf/73cecf/150x150.png"
            alt="あいうえおか歯科"
            width="30px"
            height="30px"
          />
          あいうえおか歯科
        </p>
        <p>所在地 | 〒150-0013 東京都渋谷区恵比寿4-3-1 3F</p>
        <div id="train">
          JR山手線・埼京線 恵比寿駅から徒歩<span>1</span>分<br />
          日比谷線 恵比寿駅から徒歩<span>3</span>分<br />
          東京都・神奈川県・埼玉県・千葉県からのアクセスもとても便利です
        </div>
        <div>
          <table>
            <tbody>
              <tr>
                <td colspan="3">アクセス方法</td>
              </tr>
              <tr>
                <td>秋葉原から<br />山手線で<br /><span>00</span>分</td>
                <td>横浜から<br />湘南新宿ラインで<br /><span>00</span>分</td>
                <td>大宮から<br />埼京線で<br /><span>00</span>分</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id="map">
        <img
          src="https://placehold.jp/e4f2ec/e4f2ec/800x800.png?text=MAP"
          alt="MAP"
        />
      </div>
    </div>
  </ComponentContainer>
</template>
<style lang="scss" scoped>
div#access-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  div#access {
    width: 50%;
    text-align: center;
    > p:first-child {
      font-size: 40px;
    }
    div#train {
      width: 60%;
      margin: 0 auto;
      padding: 20px 10px;
      background-color: #fafafa;
      line-height: 40px;
      span {
        font-size: 25px;
      }
    }
    table {
      width: 60%;
      margin: 20px auto;
      tr {
        td {
          width: 20%;
          border: 1px #000000 solid;
          border-collapse: collapse;
          span {
            font-size: 30px;
          }
        }
      }
    }
  }
  div#map {
    width: 50%;
    img {
      width: 100%;
    }
  }
}
@media screen and (max-width: 750px) {
  div#access-area {
    flex-wrap: wrap;
    div#access {
      width: 100%;
    }
    div#map {
      width: 100%;
    }
  }
}
</style>