<template>
  <ComponentContainer>
    <footer>
      <nav>
        <div>
          <p><a href="#">クリニック紹介</a></p>
          <ul>
            <li><a href="#">コンセプト</a></li>
            <li><a href="#">院長紹介</a></li>
            <li><a href="#">スタッフ紹介</a></li>
            <li><a href="#">院内紹介</a></li>
          </ul>
        </div>
        <div>
          <p><a href="#">治療について</a></p>
          <ul>
            <li><a href="#">裏側矯正</a></li>
            <li><a href="#">表側矯正</a></li>
            <li>
              <a href="#">マウスピース型矯正装置<br />(インビサライン)</a>
            </li>
            <li><a href="#">虫歯予防・ホワイトニング</a></li>
          </ul>
        </div>
        <div>
          <p><a href="#">費用・治療の流れ</a></p>
          <p><a href="#">診察時間・アクセス</a></p>
          <p><a href="#">リクルート</a></p>
        </div>
        <div>
          <p><a href="#">スタッフブログ</a></p>
          <p><a href="#">よくあるご質問</a></p>
          <p><a href="#">資料請求・ご相談フォーム</a></p>
          <p><a href="#">ネット予約</a></p>
          <p><a href="#">プライバシーポリシー</a></p>
        </div>
      </nav>
      <p class="copy">&copy; 2021 oooooo KYOUSEISHIKA All Rights Reserved.</p>
    </footer>
  </ComponentContainer>
</template>

<style lang="scss" scoped>
footer nav {
  padding-top: 40px;
  display: flex;
  a {
    color: #000000;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  div {
    width: 25%;
    ul {
      padding: 0;
      li {
        list-style: none;
        &:before {
          content: "> ";
          position: relative;
          bottom: 3px;
          color: #00aeff;
          font-size: 5px;
        }
      }
    }
  }
}
p.copy {
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 750px) {
  footer nav {
    flex-wrap: wrap;
    div {
      width: 50%;
    }
  }
}
</style>
