<template>
  <ComponentContainer>
    <div v-if="!isSpWidth">
      <header>
        <h1>
          <a href="/">
            <img
              src="https://placehold.jp/73cecf/73cecf/150x150.png"
              alt="あいうえおか歯科"
              width="30px"
              height="30px"
            />
            あいうえおか歯科
          </a>
        </h1>
        <nav>
          <ul>
            <li><a href="#">よくある質問</a></li>
            <li><a href="#">資料請求・ご相談フォーム</a></li>
          </ul>
        </nav>
        <div class="contact">
          <p>カウンセリングは無料です、お気軽にご相談ください。</p>
          <div>
            <ComponentTopTelLink />
            <ComponentTopReserveButton />
          </div>
        </div>
      </header>
      <ContentTopMenu />
    </div>
    <div v-else>
      <header>
        <h1>
          <a href="/">
            <img
              src="https://placehold.jp/73cecf/73cecf/150x150.png"
              alt="あいうえおか歯科"
              width="30px"
              height="30px"
            />
            あいうえおか歯科
          </a>
        </h1>
      </header>
    </div>
  </ComponentContainer>
</template>
<script>
export default {
  data() {
    return {
      isSpWidth: false,
    };
  },
  created() {
    if (process.browser) {
      window.addEventListener("resize", this.handleResize);
      this.handleResize();
    }
  },
  destroyed() {
    if (process.browser) {
      window.removeEventListener("resize", this.handleResize);
    }
  },
  methods: {
    handleResize() {
      if (process.browser) {
        this.isSpWidth = window.innerWidth <= 1000;
      }
    },
  },
};
</script>
<style lang="scss" scoped>
a {
  color: #000000;
  text-decoration: none;
  &:hover {
    opacity: 0.5;
  }
}
header {
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  h1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    a {
      line-height: 30px;
    }
  }
  nav ul li {
    margin-top: 10px;
    list-style: none;
    &::before {
      content: "> ";
      position: relative;
      bottom: 3px;
      color: #00aeff;
      font-size: 5px;
    }
  }
  div.contact {
    p {
      margin: 5px 0;
    }
    div {
      display: flex;
      justify-content: space-between;
    }
  }
}
</style>
