<template>
  <div>
    <Header />
    <ContentKeyVisual />
    <ContentPlan />
    <ContentMessage />
    <ContentFeature />
    <ContentMenu />
    <ContentAccess />
    <ContentInfo />
    <Footer />
  </div>
</template>
